*{
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

header {
  background-color: #6003C3;
  padding: 20% 10%;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 4.5rem;
}

#message_section {
  padding: 12%;
}

#message_section p {
  color:#6003C3;
  text-align: center;
  font-size: 2rem;
}

.boxes {
  padding: 10%;
}

#box-1 {
  
  width: 200px;
  height: 180px;
  background-color:#FCFF00;
  border: 20px solid #6003C3;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  box-shadow: 5px 5px 5px grey;
}



#box-2 {
  width: 200px;
  height: 180px;
  background-color:#57FFC9;
  border: 20px solid #6003C3;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  box-shadow: 5px 5px 5px grey;
}

#box-3 {
  width: 200px;
  height: 180px;
  background-color:#A5FF01;
  border: 20px solid #6003C3;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  box-shadow: 5px 5px 5px grey;
}

.box {
  text-align: center;
  font-size: 4rem;
  color:#6003C3;
  justify-content: center;
  align-items: center;
}

#wins, #losses {
  color:#6003C3;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 765px) {
  header {
    padding: 12% 7%;
  }
  .boxes {
    display: flex;
    padding: 2%;
  }
  #message_section {
    padding: 5%;
  }
  .score {
    display: flex;
    justify-content: center;
  }

  #wins {
    padding-right: 20px;
  }
}

@media(min-width: 1024px) {
    header{
      padding: 10% 5%;
    }
}

@media (min-width: 1366px){
  header {
    padding: 5% 3%;
  }
}